/*///////////////
/// ARTICLE
*/ //////////////

article,
.single__content {
	padding: 0 0 $spacing-large;

	> button,
	> .button {
		display: inline-block;
	}

	h1 {
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-bottom: 0;
			margin-top: 0;

			@include bp-min-width($width-content + 60px) {
				padding-right: $spacing-huge * 2;
			}

			& + *:not(ul) {
				margin-top: $spacing-huge;
			}
		}
	}

	> h2 + h2 {
		margin-top: $spacing-small !important;
		margin-bottom: $spacing-huge;
	}

	> h2,
	> h3,
	> h4,
	> h5 {
		margin-bottom: 16px;
		font-weight: 700;
	}
	/* Advanced vertical rhythym based off of https://medium.com/@sebastian.eberlein/advanced-vertical-margins-4ac69f032f79 */
	> * + * {
		margin-top: 16px;
	}
	> h2 + * {
		margin-top: 24px;
	}
	> img + *,
	> figure + * {
		margin-top: 32px;
	}
	> * + h2 {
		margin-top: 64px;
	}
	> * + h3 {
		margin-top: 48px;
	}
	> * + img {
		margin-top: 32px;
	}
	> * + h4 {
		margin-top: 48px;
	}
	> img + img,
	> figure + figure {
		margin-top: 32px;
	}
	> h2 + h3 {
		margin-top: 16px;
	}
	> h3 + h4 {
		margin-top: 32px;
	}

	& > * {
		margin-left: $spacing-default;
		margin-right: $spacing-default;
		@include bp-min-width($width-content) {
			margin-left: auto;
			margin-right: auto;
			max-width: $width-content;
			width: 100%;
		}

		@include bp-min-width($width-content + 100px) {
			max-width: $width-content + 100px;
		}
	}

	& > figure,
	& > img,
	& > picture,
	& > .ignore {
		display: block;
		text-align: center;
	}

	& > :first-child {
		margin-top: $spacing-huge;
	}

	&.page--homepage > :first-child {
		margin: 0;
		max-width: 100%;
		position: relative;
		overflow: hidden;

		@include bp-min-width(1600px) {
			height: 1000px;
			max-height: 60vh;

			img,
			video {
				position: absolute;
			}
		}
	}

	#content & .slider {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}
}

.single__content {
	max-width: 100%;

	& > * {
		margin-left: $spacing-default;
		margin-right: $spacing-default;
		@include bp-min-width($width-content) {
			margin-left: auto;
			margin-right: auto;
			max-width: $width-content - 200px;
			width: 100%;
		}

		@include bp-min-width($width-content + 100px) {
			max-width: $width-content - 100px;
		}
	}

	& > figure,
	& > img,
	& > picture,
	& > .ignore {
		@include bp-min-width($width-content + 200px) {
			max-width: $width-content + 200px;
		}
	}
}
