/*///////////////
/// FORM
*/ //////////////

::placeholder {
	color: #9b9b9b;
	opacity: 1;
}

form {
	input,
	textarea {
		padding: $spacing-tiny;
	}
}

input {
	max-width: 100%;
}

textarea {
	max-width: 100%;
	resize: vertical;
}

fieldset {
	padding: $spacing-default;
	border-color: $color-grey-lightest;
	border-style: solid;
}

form {
	color: $color-black;
	button,
	input,
	select,
	textarea {
		margin-top: $spacing-default;
	}
}

label {
	display: block;
	margin-bottom: $spacing-tiny;
	color: rgba($color-black, 0.7);
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: capitalize;
	& ~ label {
		margin-top: $spacing-default;
	}
	& + input,
	& + textarea {
		margin-bottom: $spacing-small;
		margin-top: $spacing-tiny;
	}
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
select {
	border-radius: $border-radius-input;
	display: block;
	min-height: 44px;
	padding: $spacing-small $spacing-default;
	width: 100%;
	background: $color-white;
	border: 1px solid $color-grey-lightest;
	color: $color-grey;
	transition: border-color 0.25s, box-shadow 0.25s;
}

input[readonly] {
	cursor: not-allowed;
}

textarea {
	border-radius: $border-radius-input;
	display: block;
	min-height: 200px;
	padding: $spacing-small $spacing-default;
	width: 100%;
	background: $color-white;
	border: 1px solid $color-grey-lightest;
	color: $color-grey;
	resize: vertical;
	transition: border-color 0.25s, box-shadow 0.25s;
}

.hs-form-field {
	~ .hs-form-field {
		margin-top: $spacing-default;
	}
}

.hbspt-form {
	br {
		display: none;
	}

	form {
		padding: 0;
	}
}

div.wpcf7 {
	margin-left: auto;
	margin-right: auto;
}
