/*///////////////
/// HEADER
*/ //////////////
header {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;

	background-color: $color-white;
	box-shadow: 0px 0px 15px rgba($color-black, 0.1);
	transition: 0.4s top ease;

	.admin-bar & {
		top: 32px;
	}

	a {
		display: block;
		padding: $spacing-tiny 0;

		color: $color-black;
		font-size: 1.6rem;
		text-decoration: none;

		@include bp-min-width($bp-lg) {
			padding: $spacing-small 0;
		}
	}

	button {
		align-items: center;
		border-radius: 0px;
		display: inline-flex;
		justify-content: center;
		min-width: auto;
		padding: $spacing-default $spacing-small;
		position: relative;

		background: transparent;
		color: $color-black;
		font-size: 1.5rem;
		font-weight: 700;

		@include bp-min-width($bp-lg) {
			display: none;
			padding: $spacing-default $spacing-default * 1.5;
		}
	}

	li {
		@include bp-min-width($bp-lg) {
			display: inline-block;
		}
	}

	nav > ul > li:last-of-type a {
		font-size: 1.6rem;

		@include bp-min-width($bp-lg) {
			border-radius: $border-radius-default;
			display: inline-block;
			margin-left: $spacing-small;
			min-width: 0%;
			padding: $spacing-default $spacing-default * 1.5;
			position: relative;

			background: $color-secondary;
			border: none;
			color: #ffffff;
			cursor: pointer;
			font-size: 1.3rem;
			font-weight: 700;
			letter-spacing: 0.5px;
			line-height: 1.5rem;
			outline: none;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			transition: 0.2s all ease;

			i,
			svg {
				color: $color-white;
				margin-left: $spacing-small;
			}

			&:before {
				border-radius: $border-radius-default;
				content: "";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;

				background-color: rgba($color-white, 1);
				opacity: 0;
				transition: 0.2s opacity ease;
			}

			@include active-states() {
				&:before {
					opacity: 0.4;
				}
			}
		}

		@include bp-min-width($bp-xl) {
			font-size: 1.5rem;
		}
	}

	nav {
		display: flex;
		flex-direction: column;
		height: 100vh; /* Fallback for browsers that do not support Custom Properties */
		height: calc(var(--vh, 1vh) * 100);
		position: fixed;
		left: 100%;
		padding: 30px;
		top: 0;
		width: 100vw;
		z-index: 999;

		background-color: $color-secondary;
		transition: 0.4s left ease;

		&.show {
			left: 0px;

			@include bp-max-width($bp-lg) {
				li {
					animation-duration: 0.4s;
					animation-fill-mode: forwards;
					animation-name: fadeLinks;
					opacity: 0;

					@for $i from 1 through 10 {
						&:nth-of-type(#{$i}) {
							animation-delay: $i * 0.15s;
						}
					}
				}
			}

			button {
				animation-delay: 1s;
				animation-duration: 0.4s;
				animation-fill-mode: forwards;
				animation-name: fadeLinks;
				opacity: 0;
			}
		}

		@include bp-min-width($bp-lg) {
			display: block;
			height: auto;
			left: 0;
			padding: 0;
			position: relative;
			width: auto;

			background-color: transparent;
		}

		a {
			color: $color-white;

			@include bp-min-width($bp-lg) {
				padding: $spacing-default $spacing-small;

				color: $color-black;
				font-size: 1.3rem;
				transition: 0.2s all ease;
			}

			@include bp-min-width($bp-xl) {
				font-size: 1.5rem;
			}
		}

		button {
			color: $color-white;

			&:before {
				display: none;
			}
		}

		svg {
			fill: $color-white;
		}
	}

	ul {
		margin: 0;
		margin-bottom: auto;
		padding: 0;

		list-style: none;

		@include bp-min-width($bp-lg) {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: 0;
		}

		+ ul {
			@include bp-min-width($bp-lg) {
				display: none;
			}
		}

		button {
			justify-content: flex-start;
			padding: $spacing-default 0;
			width: 100%;

			text-align: left;
			text-transform: capitalize;
		}
	}

	svg {
		margin-right: $spacing-small;
		max-width: 14px;
		width: 100%;

		@include bp-min-width($bp-lg) {
			max-width: 16px;
		}
	}
}

.header__contents {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 $spacing-default;

	> a {
		display: none;

		color: $color-primary;

		@include bp-min-width($bp-lg) {
			display: block;

			font-size: 20px;
		}

		svg {
			color: $color-primary;
			fill: $color-primary;
		}

		&.header__logo {
			display: block;
		}
	}

	@include bp-min-width($bp-lg) {
		flex-wrap: wrap;
		padding: 0;
	}

	@include bp-min-width(1270px) {
		max-width: 1270px;
	}
}

.header__logo {
	padding: $spacing-small;

	svg {
		max-width: 100%;
		width: 150px;

		@include bp-min-width($bp-lg) {
			width: 250px;
		}
	}

	@include bp-min-width($bp-lg) {
		margin: 0 auto 0 0;
		padding: $spacing-small 0;
	}
}

.header--fixed {
	position: fixed;
	top: 0;

	.admin-bar & {
		top: 32px;
	}
}

.header--prepare {
	top: -200px;
}

.menu-item-has-children {
	position: relative;

	transition: 0.2s background-color ease;

	@include bp-min-width($bp-lg) {
		background-color: $color-white;

		@include active-states() {
			background: $color-off-white;

			ul {
				height: auto;

				opacity: 1;
			}
		}
	}

	ul {
		transition: 0.2s all ease;

		@include bp-min-width($bp-lg) {
			display: flex;
			flex-direction: column;
			height: 0;
			left: 0;
			min-width: 200px;
			position: absolute;
			top: 100%;
			width: 100%;

			background-color: $color-white;
			box-shadow: 0px 20px 15px -10px rgba($color-black, 0.1);
			opacity: 0;

			li {
				display: block;
				width: 100%;
			}

			a {
				display: block;
				padding: $spacing-small $spacing-default;

				background-color: $color-white;
				transition: 0.2s background-color ease;

				@include active-states() {
					background: $color-grey-lightest;
				}
			}
		}
	}
}

/* The animation code */
@keyframes fadeLinks {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
