/*///////////////
/// HR
*/ //////////////

hr,
.hr {
	padding: 0;
	border: none;
	border-top: medium solid $color-grey-lightest;
	color: $color-grey-lightest;
}

.hr--invisible {
	border-color: transparent;
	color: transparent;
	opacity: 0;
}

.hr--sm {
	margin: $spacing-small auto;
}

.hr--md {
	margin: $spacing-default auto;
}

.hr--lg {
	margin: $spacing-large auto;
}

.hr--xl {
	margin: $spacing-huge auto;
}
