/*///////////////
/// LIST
*/ //////////////

ul,
ol {
	margin-top: $spacing-default;

	font-size: 2rem;

	& + p {
		margin-top: $spacing-default;
	}
}

.list--check,
.list--liquid {
	padding-left: 0;

	list-style: none;

	@supports (-ms-ime-align: auto) {
		list-style: initial;
	}

	li {
		margin-left: $spacing-large;
		position: relative;

		+ li {
			margin-top: $spacing-small;
		}

		&:before {
			content: "";
			display: block;
			height: 18px;
			left: -$spacing-large + 4px;
			position: absolute;
			top: 6px;
			width: 18px;

			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
		}
	}
}

.list--check {
	li {
		&:before {
			background-image: url("../icons/check-circle.svg");

			@supports (mask-size: contain) {
				background-color: $color-primary;
				background-image: initial;
				mask-image: url("../icons/check-circle.svg");
			}

			@supports (-ms-ime-align: auto) {
				background-color: transparent;
			}
		}
	}
}

.list--liquid {
	li {
		&:before {
			background-image: url("../icons/tint.svg");

			@supports (mask-size: contain) {
				background-color: $color-secondary;
				background-image: initial;
				mask-image: url("../icons/tint.svg");
			}

			@supports (-ms-ime-align: auto) {
				background-color: transparent;
			}
		}
	}
}

.list--links {
	li {
		&:before {
			@supports (mask-size: contain) {
				background-color: $color-quaternary;
			}

			@supports (-ms-ime-align: auto) {
				background-color: transparent;
			}
		}
	}
}
