<figure class="youtube">
    <div class="youtube__wrapper youtube-lazy-load" data-embed="{{youtube}}">
        <div class="play-button"></div>
    </div>
    {% include "molecules/loader.twig" %}
</figure>