/*///////////////
/// BREADCRUMBS
*/ //////////////

.breadcrumbs {
	a {
		color: $color-black;
		opacity: 0.5;
		text-decoration: none;
		transition: 0.2s opacity ease;

		@include active-states() {
			opacity: 1;
		}
	}

	+ h1,
	h2 {
		margin-top: $spacing-default;
	}
}
