/*///////////////
/// EMBED
*/ //////////////

.wp-block-embed-twitter {
	.twitter-tweet {
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-block-embed-facebook {
	.wp-block-embed__wrapper {
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-block-embed-instagram {
	.instagram-media-rendered {
		margin-left: auto !important;
		margin-right: auto !important;
		min-width: auto !important;

		width: 100% !important;
	}
}
