/*///////////////
/// FILTER
*/ //////////////

.filter {
	margin: $spacing-large auto;

	button {
		min-width: 0px;
		padding: $spacing-large;

		background: transparent;
		border-bottom: 1px solid #e0e0e0;
		border-radius: 0px;
		border-top: 1px solid #e0e0e0;
		color: $color-black;
		text-transform: capitalize;
		transition: 0.2s all ease;

		&:active,
		&:focus,
		&:hover,
		&.active {
			border-bottom: 1px solid $color-black;
			border-top: 1px solid $color-black;
		}
	}

	li {
		display: inline-flex;
	}

	ul {
		display: flex;
		justify-content: stretch;
		margin: 0;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;

		padding: 0;
		width: 100%;

		border-bottom: 1px solid #e0e0e0;
		border-top: 1px solid #e0e0e0;
		list-style: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.filter-item {
}

.filter-item--hide {
	display: none;
}

.filter__message {
	&.display--none {
		display: none;
	}
}
