/*///////////////
/// HERO
*/ //////////////

.hero {
	margin-bottom: $spacing-large;
	margin-top: $spacing-large;
	overflow: hidden;
	position: relative;

	@include bp-min-width($bp-lg) {
		margin-bottom: $spacing-huge;
		margin-top: $spacing-huge;
	}

	& + .wp-block-columns {
		margin-top: $spacing-large;

		@include bp-min-width($bp-lg) {
			margin-top: $spacing-huge * 2;
		}
	}

	& + .slider {
		margin-top: 0;
	}

	img,
	video {
		display: block;
		height: 100%;
		width: 100%;
		z-index: 2;

		box-shadow: $boxshadow-global;
		object-fit: cover;
	}

	img {
		@supports (-ms-ime-align: auto) {
			position: relative;
		}
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			position: relative;
		}
	}

	video {
		@supports (-ms-ime-align: auto) {
			height: auto;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			height: auto;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.hero--huge {
	overflow: hidden;
	height: 75vh;

	img,
	video {
		left: 0;
		position: absolute;
		top: 0;
	}
}
