/*///////////////
/// PRODUCT
*/ //////////////

.product {
}

.product__bio {
	color: $color-grey-light;

	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color-black;
	}

	h1 {
		margin-bottom: $spacing-default;
		margin-top: 0;
	}
}

.product__gallery {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: $spacing-huge;

	@include bp-min-width($bp-sm) {
		margin-bottom: $spacing-default;
	}

	& > * {
		padding: $spacing-default;
		width: 33.333%;

		@include bp-min-width($bp-sm) {
			width: 25%;
		}
	}

	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}

.product__related {
	display: flex;

	& > * {
		margin: 0 auto $spacing-default;
		padding: $spacing-default;
		width: 90%;

		@include bp-min-width($bp-sm) {
			margin: 0;
			width: 20%;
		}
	}
}
